openapi: 3.1.0
info:
  title: Indexer API
  description:
    Query indexed data including transactions, blocks, NFTs, and token holders
    across Initia Stack chains.
  version: 1.0.0
servers:
  - url: https://rollytics-api-evm-1.anvil.asia-southeast.initia.xyz
    description: evm-1 (testnet)
  - url: https://rollytics-api-move-1.anvil.asia-southeast.initia.xyz
    description: move-1 (testnet)
  - url: https://rollytics-api-wasm-1.anvil.asia-southeast.initia.xyz
    description: wasm-1 (testnet)
paths:
  /indexer/block/v1/blocks:
    get:
      operationId: getBlocks
      summary: Get blocks
      description: Returns a paginated list of blocks.
      tags:
        - Blocks
      parameters:
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  blocks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Block'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /indexer/block/v1/blocks/{height}:
    get:
      operationId: getBlockByHeight
      summary: Get block by height
      description: Returns a specific block by its height.
      tags:
        - Blocks
      parameters:
        - name: height
          in: path
          description: The block height.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  block:
                    $ref: '#/components/schemas/Block'
        '404':
          description: Block not found
  /indexer/block/v1/avg_blocktime:
    get:
      operationId: getAvgBlockTime
      summary: Get average block time
      description:
        Returns the average block time in seconds, computed over the most recent
        blocks.
      tags:
        - Blocks
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  avg_block_time:
                    type: number
                    description: Average block time in seconds.
  /indexer/tx/v1/txs:
    get:
      operationId: getTransactions
      summary: Get transactions
      description:
        Returns a paginated list of transactions. You can optionally filter by
        message type.
      tags:
        - Transactions
      parameters:
        - name: msgs
          in: query
          description:
            'Message types to filter by (comma-separated). Example:
            `cosmos.bank.v1beta1.MsgSend,initia.move.v1.MsgExecute`.'
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  txs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tx'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /indexer/tx/v1/txs/by_account/{account}:
    get:
      operationId: getTransactionsByAccount
      summary: Get transactions by account
      description:
        Returns transactions associated with a specific account address.
      tags:
        - Transactions
      parameters:
        - name: account
          in: path
          description: The account address.
          required: true
          schema:
            type: string
        - name: is_signer
          in: query
          description:
            When `true`, only returns transactions where the account was the
            signer. Defaults to `false`.
          required: false
          schema:
            type: boolean
            default: false
        - name: msgs
          in: query
          description:
            'Message types to filter by (comma-separated). Example:
            `cosmos.bank.v1beta1.MsgSend`.'
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  txs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tx'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /indexer/tx/v1/txs/by_height/{height}:
    get:
      operationId: getTransactionsByHeight
      summary: Get transactions by height
      description: Returns all transactions at a given block height.
      tags:
        - Transactions
      parameters:
        - name: height
          in: path
          description: The block height.
          required: true
          schema:
            type: integer
        - name: msgs
          in: query
          description: 'Message types to filter by (comma-separated).'
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  txs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tx'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /indexer/tx/v1/txs/{tx_hash}:
    get:
      operationId: getTransactionByHash
      summary: Get transaction by hash
      description: Returns a specific transaction by its hash.
      tags:
        - Transactions
      parameters:
        - name: tx_hash
          in: path
          description: The transaction hash.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  tx:
                    $ref: '#/components/schemas/Tx'
        '404':
          description: Transaction not found
  /indexer/tx/v1/evm-txs:
    get:
      operationId: getEvmTransactions
      summary: Get EVM transactions
      description:
        Returns a paginated list of EVM transactions. Only available on EVM
        chains.
      tags:
        - EVM Transactions
      parameters:
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  txs:
                    type: array
                    items:
                      $ref: '#/components/schemas/EvmTx'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          description: EVM routes are not available on this chain
  /indexer/tx/v1/evm-txs/by_account/{account}:
    get:
      operationId: getEvmTransactionsByAccount
      summary: Get EVM transactions by account
      description:
        Returns EVM transactions associated with a specific account. Only
        available on EVM chains.
      tags:
        - EVM Transactions
      parameters:
        - name: account
          in: path
          description: The account address.
          required: true
          schema:
            type: string
        - name: is_signer
          in: query
          description:
            When `true`, only returns transactions where the account was the
            signer.
          required: false
          schema:
            type: boolean
            default: false
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  txs:
                    type: array
                    items:
                      $ref: '#/components/schemas/EvmTx'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          description: EVM routes are not available on this chain
  /indexer/tx/v1/evm-txs/by_height/{height}:
    get:
      operationId: getEvmTransactionsByHeight
      summary: Get EVM transactions by height
      description:
        Returns EVM transactions at a specific block height. Only available on
        EVM chains.
      tags:
        - EVM Transactions
      parameters:
        - name: height
          in: path
          description: The block height.
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  txs:
                    type: array
                    items:
                      $ref: '#/components/schemas/EvmTx'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          description: EVM routes are not available on this chain
  /indexer/tx/v1/evm-txs/{tx_hash}:
    get:
      operationId: getEvmTransactionByHash
      summary: Get EVM transaction by hash
      description:
        Returns a specific EVM transaction by its hash. Only available on EVM
        chains.
      tags:
        - EVM Transactions
      parameters:
        - name: tx_hash
          in: path
          description: The transaction hash.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  tx:
                    $ref: '#/components/schemas/EvmTx'
        '404':
          description: Transaction not found or EVM routes not available
  /indexer/tx/v1/evm-internal-txs:
    get:
      operationId: getEvmInternalTransactions
      summary: Get EVM internal transactions
      description:
        Returns a paginated list of EVM internal transactions. Only available on
        EVM chains with internal transaction indexing enabled.
      tags:
        - EVM Internal Transactions
      parameters:
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  internal_txs:
                    type: array
                    items:
                      $ref: '#/components/schemas/EvmInternalTx'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          description: EVM routes are not available on this chain
  /indexer/tx/v1/evm-internal-txs/by_account/{account}:
    get:
      operationId: getEvmInternalTransactionsByAccount
      summary: Get EVM internal transactions by account
      description:
        Returns EVM internal transactions associated with a specific account.
        Only available on EVM chains.
      tags:
        - EVM Internal Transactions
      parameters:
        - name: account
          in: path
          description: The account address.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  internal_txs:
                    type: array
                    items:
                      $ref: '#/components/schemas/EvmInternalTx'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          description: EVM routes are not available on this chain
  /indexer/tx/v1/evm-internal-txs/by_height/{height}:
    get:
      operationId: getEvmInternalTransactionsByHeight
      summary: Get EVM internal transactions by height
      description:
        Returns EVM internal transactions at a specific block height. Only
        available on EVM chains.
      tags:
        - EVM Internal Transactions
      parameters:
        - name: height
          in: path
          description: The block height.
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  internal_txs:
                    type: array
                    items:
                      $ref: '#/components/schemas/EvmInternalTx'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          description: EVM routes are not available on this chain
  /indexer/tx/v1/evm-internal-txs/{tx_hash}:
    get:
      operationId: getEvmInternalTransactionsByHash
      summary: Get EVM internal transactions by hash
      description:
        Returns EVM internal transactions for a specific transaction hash. Only
        available on EVM chains.
      tags:
        - EVM Internal Transactions
      parameters:
        - name: tx_hash
          in: path
          description: The transaction hash.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  internal_txs:
                    type: array
                    items:
                      $ref: '#/components/schemas/EvmInternalTx'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          description: Transaction not found or EVM routes not available
  /indexer/nft/v1/collections:
    get:
      operationId: getNftCollections
      summary: Get NFT collections
      description: Returns a paginated list of all NFT collections.
      tags:
        - NFTs
      parameters:
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  collections:
                    type: array
                    items:
                      $ref: '#/components/schemas/NftCollection'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /indexer/nft/v1/collections/by_account/{account}:
    get:
      operationId: getNftCollectionsByAccount
      summary: Get NFT collections by account
      description:
        Returns NFT collections that contain tokens owned by the specified
        account.
      tags:
        - NFTs
      parameters:
        - name: account
          in: path
          description: The account address.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  collections:
                    type: array
                    items:
                      $ref: '#/components/schemas/NftCollection'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /indexer/nft/v1/collections/by_name/{name}:
    get:
      operationId: getNftCollectionsByName
      summary: Get NFT collections by name
      description: Returns NFT collections matching the specified name.
      tags:
        - NFTs
      parameters:
        - name: name
          in: path
          description: The collection name to search for.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  collections:
                    type: array
                    items:
                      $ref: '#/components/schemas/NftCollection'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /indexer/nft/v1/collections/{collection_addr}:
    get:
      operationId: getNftCollectionDetails
      summary: Get NFT collection details
      description:
        Returns the details of a specific NFT collection by its address.
      tags:
        - NFTs
      parameters:
        - name: collection_addr
          in: path
          description: The collection address.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  collection:
                    $ref: '#/components/schemas/NftCollection'
        '404':
          description: NFT collection not found
  /indexer/nft/v1/tokens/by_account/{account}:
    get:
      operationId: getNftTokensByAccount
      summary: Get NFT tokens by account
      description:
        Returns NFT tokens owned by the specified account. You can optionally
        filter by collection address and token ID.
      tags:
        - NFTs
      parameters:
        - name: account
          in: path
          description: The account address.
          required: true
          schema:
            type: string
        - name: collection_addr
          in: query
          description: Filter by collection address.
          required: false
          schema:
            type: string
        - name: token_id
          in: query
          description: Filter by token ID.
          required: false
          schema:
            type: string
        - name: order_by
          in: query
          description:
            'Field to order results by. Options: `token_id`, `height`.'
          required: false
          schema:
            type: string
            enum:
              - token_id
              - height
            default: token_id
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    type: array
                    items:
                      $ref: '#/components/schemas/NftToken'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /indexer/nft/v1/tokens/by_collection/{collection_addr}:
    get:
      operationId: getNftTokensByCollection
      summary: Get NFT tokens by collection
      description:
        Returns all NFT tokens within a specific collection. You can optionally
        filter by token ID.
      tags:
        - NFTs
      parameters:
        - name: collection_addr
          in: path
          description: The collection address.
          required: true
          schema:
            type: string
        - name: token_id
          in: query
          description: Filter by token ID.
          required: false
          schema:
            type: string
        - name: order_by
          in: query
          description:
            'Field to order results by. Options: `token_id`, `height`.'
          required: false
          schema:
            type: string
            enum:
              - token_id
              - height
            default: token_id
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    type: array
                    items:
                      $ref: '#/components/schemas/NftToken'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /indexer/nft/v1/txs/{collection_addr}/{token_id}:
    get:
      operationId: getNftTransactions
      summary: Get NFT transactions
      description:
        Returns transactions related to a specific NFT identified by its
        collection address and token ID.
      tags:
        - NFTs
      parameters:
        - name: collection_addr
          in: path
          description: The collection address.
          required: true
          schema:
            type: string
        - name: token_id
          in: path
          description: The token ID.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  txs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tx'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /indexer/richlist/v1/{denom}:
    get:
      operationId: getTokenHolders
      summary: Get token holders
      description:
        Returns a ranked list of token holders for a specific denomination,
        ordered by amount.
      tags:
        - Rich List
      parameters:
        - name: denom
          in: path
          description:
            'The token denomination. Use URL encoding for denoms containing `/`
            (e.g., `l2%2F...`).'
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/paginationKey'
        - $ref: '#/components/parameters/paginationOffset'
        - $ref: '#/components/parameters/paginationLimit'
        - $ref: '#/components/parameters/paginationCountTotal'
        - $ref: '#/components/parameters/paginationReverse'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  holders:
                    type: array
                    items:
                      $ref: '#/components/schemas/TokenHolder'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
components:
  schemas:
    Pagination:
      type: object
      description: Pagination metadata for list responses.
      properties:
        previous_key:
          type: string
          nullable: true
          description: Cursor key for the previous page.
        next_key:
          type: string
          nullable: true
          description:
            Cursor key for the next page. Null when there are no more results.
        total:
          type: string
          description: Total number of records matching the query.
    Block:
      type: object
      properties:
        chain_id:
          type: string
          description: The chain identifier.
        height:
          type: string
          description: Block height.
        hash:
          type: string
          description: Block hash (hex-encoded).
        block_time:
          type: string
          description:
            Time between this block and the previous block, in milliseconds.
        timestamp:
          type: string
          description: Block timestamp in RFC 3339 format.
        gas_used:
          type: string
          description: Total gas used in this block.
        gas_wanted:
          type: string
          description: Total gas requested in this block.
        tx_count:
          type: string
          description: Number of transactions in this block.
        total_fee:
          type: array
          description: Total fees collected in this block.
          items:
            type: object
            properties:
              denom:
                type: string
                description: Fee denomination.
              amount:
                type: string
                description: Fee amount.
        proposer:
          type: object
          description: Block proposer information.
          properties:
            moniker:
              type: string
              description: Validator moniker.
            identity:
              type: string
              description: Validator identity.
            operator_address:
              type: string
              description: Validator operator address.
    Tx:
      type: object
      properties:
        txhash:
          type: string
          description: Transaction hash.
        height:
          type: string
          description: Block height where this transaction was included.
        codespace:
          type: string
          description: Error codespace, if the transaction failed.
        code:
          type: integer
          description:
            Response code. `0` indicates success; non-zero indicates an error.
        data:
          type: string
          description: Hex-encoded result data.
        raw_log:
          type: string
          description: Raw log output from the transaction.
        logs:
          type: array
          description: Parsed ABCI message logs.
          items:
            type: object
        info:
          type: string
          description: Additional information.
        gas_wanted:
          type: string
          description: Gas requested by the transaction.
        gas_used:
          type: string
          description: Gas consumed by the transaction.
        tx:
          type: object
          description:
            The full transaction body including messages and signatures.
        timestamp:
          type: string
          description: Transaction timestamp in RFC 3339 format.
        events:
          type: array
          description: Events emitted by the transaction.
          items:
            type: object
    EvmTx:
      type: object
      properties:
        blockHash:
          type: string
          description: Hash of the block containing this transaction.
        blockNumber:
          type: string
          description: Block number (hex-encoded).
        contractAddress:
          type: string
          nullable: true
          description:
            Address of the contract created, if this was a contract creation
            transaction.
        cumulativeGasUsed:
          type: string
          description:
            Total gas used in the block up to and including this transaction.
        effectiveGasPrice:
          type: string
          description: Effective gas price paid (hex-encoded).
        from:
          type: string
          description: Sender address.
        gasUsed:
          type: string
          description: Gas consumed by this transaction.
        logs:
          type: array
          description: Event logs emitted during execution.
          items:
            $ref: '#/components/schemas/EvmLog'
        logsBloom:
          type: string
          description: Bloom filter for the logs.
        status:
          type: string
          description: '`0x1` for success, `0x0` for failure.'
        to:
          type: string
          description: Recipient address.
        transactionHash:
          type: string
          description: Transaction hash.
        transactionIndex:
          type: string
          description: Index of this transaction in the block.
        type:
          type: string
          description: Transaction type.
    EvmLog:
      type: object
      properties:
        address:
          type: string
          description: Contract address that emitted the log.
        topics:
          type: array
          description: Indexed event topics.
          items:
            type: string
        data:
          type: string
          description: Non-indexed event data (hex-encoded).
        blockNumber:
          type: string
          description: Block number (hex-encoded).
        transactionHash:
          type: string
          description: Transaction hash.
        transactionIndex:
          type: string
          description: Transaction index in the block.
        blockHash:
          type: string
          description: Block hash.
        logIndex:
          type: string
          description: Log index in the block.
        removed:
          type: boolean
          description:
            Whether the log was removed due to a chain reorganization.
    EvmInternalTx:
      type: object
      properties:
        height:
          type: integer
          description: Block height.
        hash:
          type: string
          description: Parent transaction hash.
        parent_index:
          type: integer
          description: Index of the parent call in the trace.
        index:
          type: integer
          description: Index of this internal transaction in the trace.
        type:
          type: string
          description:
            'Call type (e.g., `CALL`, `DELEGATECALL`, `STATICCALL`, `CREATE`).'
        from:
          type: string
          description: Sender address.
        to:
          type: string
          description: Recipient address.
        input:
          type: string
          description: Input data (hex-encoded).
        output:
          type: string
          description: Output data (hex-encoded).
        value:
          type: string
          description: Value transferred (hex-encoded).
        gas:
          type: string
          description: Gas provided (hex-encoded).
        gasUsed:
          type: string
          description: Gas consumed (hex-encoded).
    NftCollection:
      type: object
      properties:
        object_addr:
          type: string
          description: Collection contract address.
        collection:
          type: object
          description: Collection details.
          properties:
            creator:
              type: string
              description: Creator address.
            name:
              type: string
              description: Collection name.
            origin_name:
              type: string
              description: Original collection name.
            nfts:
              type: object
              description: NFT count metadata.
              properties:
                handle:
                  type: string
                  description: Storage handle.
                length:
                  type: integer
                  description: Total number of NFTs in this collection.
        height:
          type: integer
          description: Block height when the collection was created.
        timestamp:
          type: string
          description: Timestamp in RFC 3339 format.
    NftToken:
      type: object
      properties:
        collection_addr:
          type: string
          description: Collection contract address.
        collection_name:
          type: string
          description: Collection name.
        collection_origin_name:
          type: string
          description: Original collection name.
        object_addr:
          type: string
          description: Token object address (Move chains only).
        owner:
          type: string
          description: Current owner address.
        nft:
          type: object
          description: Token details.
          properties:
            token_id:
              type: string
              description: Token ID within the collection.
            uri:
              type: string
              description: Token metadata URI.
        height:
          type: integer
          description: Block height of the last update.
        timestamp:
          type: string
          description: Timestamp of the last update in RFC 3339 format.
    TokenHolder:
      type: object
      properties:
        account:
          type: string
          description: Holder address.
        amount:
          type: string
          description: Token balance.
  parameters:
    paginationKey:
      name: pagination.key
      in: query
      description: Cursor key for pagination.
      required: false
      schema:
        type: string
    paginationOffset:
      name: pagination.offset
      in: query
      description: Number of records to skip.
      required: false
      schema:
        type: integer
    paginationLimit:
      name: pagination.limit
      in: query
      description: Maximum number of records to return. Defaults to 100.
      required: false
      schema:
        type: integer
        default: 100
    paginationCountTotal:
      name: pagination.count_total
      in: query
      description: Whether to return the total count. Defaults to `true`.
      required: false
      schema:
        type: boolean
        default: true
    paginationReverse:
      name: pagination.reverse
      in: query
      description:
        When `true`, returns results in descending order. Defaults to `true`.
      required: false
      schema:
        type: boolean
        default: true
